* {
  box-sizing: border-box;
}

body {
  background: #E3EAED; 
  height: 100vh; 
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  background-color: #FFFFFF; 
  max-width: 90vw; 
  width: 90vw; 
  height: 90%;
  padding: 40px; 
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px; 
  min-height: 1000px; 
}
.row{
  width: 100%;
  display: flex;
}
.left{
  width: 30%;

}
.center{
  width: 30%;

}
.right{
  width: 30%;

}

.container h1{
  font-size: 40px;
}
.container h3{
  margin-top: 50px;
  font-size: 28px;
  margin-bottom: 80px;
}
.form-group {
  margin-bottom: 20px;
  
}

.left-form, .center-form,.right-form {
  display: flex;
  flex-direction: column; 
  margin: 40px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 50px;
  font-size: 20px;
  color: #706e6e;
}

input[type="text"],
input[type="text"],
input[type="text"],
input[type="number"]
 {
  width: 100%;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
}


.center-form select{
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
}

.city-state-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 15px; 
}

.city-state-container .city,
.city-state-container .state {
  flex: 1;
}


.radio-box input[type="radio"] {
  margin-right: 5px;
}
.radio-container {
  display: flex;
  gap: 20px; 
  background-color:#F5F6F9; 
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px; 
}

.radio-container label {
  display: flex;
  align-items: center;
  color: rgb(114, 108, 108);
}

.radio-container input[type="radio"] {
  margin-right: 10px; 
}
.radio-container span {
  font-size: 27px; 
}
.right-form input[type="password"]{
  width: 100%;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
}
.file-container {
  display: flex;
  gap: 20px; 
  background-color:#F5F6F9; 
  padding: 10px;
  margin-right: 10px;
  border-radius: 8px;  
}

.file-container input[type="file"] {
  width: 100%;
  padding: 20px;
}
.container p{
  color: #929ba0;
  font-size: 19px;
  margin: 0 auto;
}

.input-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.input-container input {
  padding-right: 30px; 
}


.input-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #555; 
}
